<h1><center>Analisis Inteligente de Datos</center></h1>

In [ ]:
#  24 Oct 2022   >>>   Notebook Creation

# Author: Andres Montes de Oca
# GitHub: https://github.com/AndresMontesDeOca

In [1]:
from IPython.display import Image
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Ejercicio #1

In [ ]:
# display(Image('Data/ej_1.png'))

In [2]:
# DataFrames Population

index = pd.Series(['Mariana', 'Maia', 'Sabrina', 'Daniela', 'Alejandra', 'Carla'], name='CandidateName')
features = pd.Series(['Cordialidad', 'Presencia', 'Idioma'])

c1 = pd.Series([80, 80, 90, 80, 70, 90])
c2 = pd.Series([90, 90, 60, 50, 60, 85])
c3 = pd.Series([70, 60, 50, 50, 50, 60])
c4 = pd.Series([60, 65, 70, 70, 55, 80])
c5 = pd.Series([78, 90, 60, 58, 70, 90])
c6 = pd.Series([80, 65, 50, 40, 65, 40])


data_juez1 = pd.concat([index, c1, c2, c3], axis=1).set_index('CandidateName').rename(columns=features)
data_juez2 = pd.concat([index, c4, c5, c6], axis=1).set_index('CandidateName').rename(columns=features)
jueces = [data_juez1, data_juez2]

#### 1)

In [3]:
for juez in jueces:
    print(juez.mean(axis=1))
    print('\nTop Performer:', juez.mean(axis=1).idxmax(), '\n')

CandidateName
Mariana      80.000000
Maia         76.666667
Sabrina      66.666667
Daniela      60.000000
Alejandra    60.000000
Carla        78.333333
dtype: float64

Top Performer: Mariana

CandidateName
Mariana      72.666667
Maia         73.333333
Sabrina      60.000000
Daniela      56.000000
Alejandra    63.333333
Carla        70.000000
dtype: float64

Top Performer: Maia

#### 2)

In [4]:
# Concat both DF
data = pd.concat([data_juez1, data_juez2], axis=1)

data.mean(axis=1)

CandidateName
Mariana      76.333333
Maia         75.000000
Sabrina      63.333333
Daniela      58.000000
Alejandra    61.666667
Carla        74.166667
dtype: float64

#### 3)

In [5]:
# Lets Normalize
from sklearn.preprocessing import StandardScaler

data_std = pd.DataFrame(StandardScaler().fit_transform(data), columns=data.columns, index = data.index)
display(data_std)

display(data_std.describe().T[['mean', 'std']])

# Poder identificar facilmente lsa debilidades y fortalezas de cada candidata

,Cordialidad,Presencia,Idioma,Cordialidad,Presencia,Idioma
CandidateName,,,,,,
Mariana,-0.242536,1.075863,1.788854,-0.834058,0.284684,1.595448
Maia,-0.242536,1.075863,0.447214,-0.208514,1.216376,0.569803
Sabrina,1.212678,-0.768473,-0.894427,0.417029,-1.112855,-0.455842
Daniela,-0.242536,-1.383252,-0.894427,0.417029,-1.268137,-1.139606
Alejandra,-1.697749,-0.768473,-0.894427,-1.459601,-0.336445,0.569803
Carla,1.212678,0.768473,0.447214,1.668115,1.216376,-1.139606

                     mean       std
Cordialidad -7.401487e-16  1.095445
Presencia    0.000000e+00  1.095445
Idioma       2.498002e-16  1.095445
Cordialidad -5.551115e-16  1.095445
Presencia    3.700743e-16  1.095445
Idioma       1.850372e-16  1.095445

#### 4)

In [14]:
# No termino de entender la pregunta

display(data_juez1.T)

# Standarization
# data_juez1_std = pd.DataFrame(StandardScaler().fit_transform(data_juez1), columns=data_juez1.columns, index = data_juez1.index)


# Plot
# sns.pairplot(data_juez1_std)
# plt.show()

CandidateName  Mariana  Maia  Sabrina  Daniela  Alejandra  Carla
Cordialidad         80    80       90       80         70     90
Presencia           90    90       60       50         60     85
Idioma              70    60       50       50         50     60

#### PairPlot

In [24]:
data_std

,Cordialidad,Presencia,Idioma,Cordialidad,Presencia,Idioma
CandidateName,,,,,,
Mariana,-0.242536,1.075863,1.788854,-0.834058,0.284684,1.595448
Maia,-0.242536,1.075863,0.447214,-0.208514,1.216376,0.569803
Sabrina,1.212678,-0.768473,-0.894427,0.417029,-1.112855,-0.455842
Daniela,-0.242536,-1.383252,-0.894427,0.417029,-1.268137,-1.139606
Alejandra,-1.697749,-0.768473,-0.894427,-1.459601,-0.336445,0.569803
Carla,1.212678,0.768473,0.447214,1.668115,1.216376,-1.139606